@*@model IList<SMS.Domain.ViewModels.BD03ViewModel_SM01DDL>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h3><i class="fa fa-table"></i>使用者管理</h3>
<hr />

<ul class="nav nav-pills">
    <li class="active"><a href="/BD03">查詢</a></li>
    <li class="active"><a href="/BD03/Add">新增</a></li>
</ul>
<p />*@
<div ng-view></div>