
<div class="panel panel-default">
    <div class="panel-body">
        <label for="dept_year"></label>
        <div>
            <select class="form-control" id="User_Org" ng-model="user_org" ng-options="orgN.org_id as orgN.org_name  for orgN in user_orgs" ng-change="change(user_org)">
                <!--ng-model來指定我們的ViewModel欄位-->
                <option value="">--請選擇--</option>
            </select>
        </div>

        <label for="User_Dept">部門</label>
        <div>
            <select class="form-control" id="User_Dept" ng-model="user_dept" ng-options="dept.dept_id as dept.dept_name for dept in user_depts">
                <option value="">--請選擇--</option>
            </select>
        </div>
        <label for="User_Id">使用者編號</label>
        <input type="text" class="form-control" id="User_Id" ng-model="user_id">
        <label for="User_Name">姓名</label>
        <input type="text" class="form-control" id="User_Name" ng-model="user_name">
        <label for="User_Password">密碼</label>
        <input type="password" class="form-control" id="User_Password" ng-model="user_pwd">
        <label for="User_Sex">性別</label>
        <select class="form-control" id="User_Sex" ng-model="user_sex">
            <option value="1">男</option>
            <option value="2">女</option>
        </select>
        <label for="User_Mail">電子信箱</label>
        <input type="text" class="form-control" id="User_Mail" ng-model="user_mail">
        <label for="User_Tel">電話</label>
        <input type="text" class="form-control" id="User_Tel" ng-model="user_tel">
        <label for="Auth_Type">權限</label>
        <select class="form-control" id="Auth_type" ng-model="auth_type">
            <option value="35">一般使用者</option>
            <option value="65">單位管理者</option>
            <option value="99">總管理者</option>
        </select>
        <label for="Usable">該帳號是否停用?</label><br />
        <label class="radio-inline">
            <input type="radio" name="usable" id="usable2" value="1" ng-model="usable">不停用
        </label>
        <label class="radio-inline">
            <input type="radio" name="usable" id="usable1" value="0" ng-model="usable">停用
        </label>
    </div>
    <input type="button" class="btn btn-primary" value="送出" ng-click="Add()" />
</div>

